<table>
    <thead>
        <tr>
            <th>CLR Substrate ID</th>
            <th>Lat</th>
            <th>Lon</th>
            <th>Waterbody</th>
            <th>Substrates</th>
            <th>Specie</th>
            <th>Reporter</th>
            <th>Agency</th>
            <th>User ID</th>
            <th>Approved</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        {% for observation in form.related_observations %}
            <tr>
                <td>{{ substrate.clr_substrate_id }}</td>
                <td>{{ substrate.to_point.1 }}</td>
                <td>{{ substrate.to_point.0 }}</td>
                <td>{{ substrate.waterbody }}</td>
                <td>{{ substrate.substrates.all|join:", " }}</td>
                <td>{{ substrate.specie }}</td>
                <td>{{ substrate.user.first_name }} {{ substrate.user.last_name }}</td>
                <td>{{ substrate.agency }}</td>
                <td>{{ substrate.user.user_id }}</td>
                <td>{{ substrate.is_approved }}</td>
                <td><a href="{% url 'observations-edit' observation.pk %}">Edit</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
