html { 
    height: 100% 
}

body { 
    height: 100%; 
    margin: 0; 
    padding: 0 
}

a:link, a:visited, a:hover {
    color:#445f8d;
}

legend {
    font-weight:bold;
}

h4 {
    margin-top:0px;
}

label {
    display:block;
}

select[multiple] {
    height:150px;
}

.errorlist {
    color:#ff0000;
}

.clear {
    clear:both;
}

#map { 
    height: 100%;
    width: 100%;
}

#overlay {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background:#000;
    opacity:.7;
    display:none;
}

#search-button {

}

#search-button:hover {
    color:#fff;
    cursor:pointer;
    background-color:#445f8d;
}

#search-button:hover a {
    color:#fff;
}

.panel {
    padding:10px;
    margin-right:10px;
    width:200px;
    background-color:#fff;
    margin-bottom:20px;
}

.panel ul {
    list-style-type:none;
    margin-left:0;
    padding-left:0;
    margin-top:0px;
}

.panel li {
    margin-bottom:5px;
    font-size:12px;
}

.panel h3 {
    margin-bottom:5px;
    margin-top:0px;
}

.panel h4 {
    margin-bottom:5px;
}

.panel img {
    width:15px;
    height:15px;
    padding-right:5px;
    vertical-align:middle;
}

#search {
    position:absolute;
    top:50%;
    left:50%;
    z-index:101;
    width: 400px;
    height:440px;
    margin-top: -210px;
    margin-left:-200px;
    display:none;
}

#search label {
    font-weight:bold;
    margin-top:10px;
}

#apply-button {
    display:block;
    margin:auto;
    margin-top:10px;
}

#search label.sublabel {
    font-weight:inherit;
    margin-top:inherit;
}

#loading {
    position:absolute;
    top:50%;
    left:50%;
    z-index:101;
    width:500px;
    height:100px;
    margin-top: -50px;
    margin-left:-250px;
    display:none;
    color:#ffffff;
    font-size:48px;
    font-family:monospace;
    line-height:0px;
    text-align:center;
}

#add-form {

}

#add-form .lat {
    float:left;
}

#add-form .lon {
    float:left;
}

#add-form label {
    font-weight:bold;
    color:#555555;
}

#add-form .sublabel {
    font-style:italic;
    font-weight:normal;
    margin-top:0px;
}

#add-form label {
    margin-top:10px;
}

#add-form legend {
    font-size:18px;
}

#add-form .substrate-types {
    float:left;
}

#add-form .species-detected {
    float:left;
    margin-left:50px;
}

#add-form ul.errorlist {
    font-size:12px;
    font-style:italic;
}

#add-form  ul {
    list-style-type: none;
    margin-left:0;
    padding-left:0;
    margin-top:0;
    margin-bottom:0;
}

#add-form .species-detected ul label {
    font-style:italic;
    font-weight:normal;
    list-style-type: none;
    margin-top:0px;
}

#add-form .first-name, #add-form .last-name {
    float:left;
}

#add-form .unit {
    font-size:11px; 
    line-height:0;
    font-weight:normal;
}
