html { 
    height: 100% 
}

body { 
    height: 100%; 
    margin: 0; 
    padding: 0 
}

h4 {
    margin-top:0px;
}

label {
    display:block;
}

select[multiple] {
    height:150px;
}

.errorlist {
    color:#ff0000;
}

#map-canvas { 
    height: 100% 
}

.panel {
    padding:10px;
    margin-right:10px;
    width:200px;
    background-color:#fff;
    margin-bottom:20px;
}

.panel ul {
    list-style-type:none;
    margin-left:0;
    padding-left:0;
    margin-top:0px;
}

.panel li {
    margin-bottom:5px;
    font-size:12px;
}

.panel h3 {
    margin-bottom:5px;
    margin-top:0px;
}

.panel h4 {
    margin-bottom:5px;
}

.panel img {
    width:15px;
    height:15px;
    padding-right:5px;
    vertical-align:middle;
}
