{% extends "base.html" %}
{% block head %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/map.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/markerclusterer.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?v=3&key=AIzaSyBjGd2GxWliijQM57ccfR5lbF_1UewlBLg&sensor=false"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        WATERBODIES = {{ waterbodies_json|safe }}
        $('#waterbody').autocomplete({
            // only show the first couple results for autocomplete
            source: function(request, response){
                var results = $.ui.autocomplete.filter(WATERBODIES, request.term);
                response(results.slice(0, 5));
            }
        });
    });
    </script>
{% endblock %}
{% block body %}

<div id="map"></div>

<div id="legend" class="panel">
    <h3>Legend</h3>
    <h4>Specie</h4>
    <ul>
        {% for specie in species %}
            <li><img src="{{ STATIC_URL }}/img/kml_cluster/status_{{ specie.machine_name }}_1.png"    alt="{{ specie.name }}" />{{ specie.name }}</li>
        {% endfor %}
    </ul>

    <h4>Substrate Types</h4>
    <ul>
        {% for substrate in substrates %}
            <li><img src="{{ STATIC_URL }}/img/legend/type_{{ substrate.machine_name }}.png"    alt="{{ substrate.name }}" />{{ substrate.name }}</li>
        {% endfor %}
    </ul>
</div>

<div id="search-button" class="panel panel-link"><a href="#">Search</a></div>
<div id="add-button" class="panel panel-link"><a href="{% url 'add' %}">Add Data</a></div>


<div id="search" class="panel">
    <h2>Search &amp; Filter</h2>
    <table>
        <tr>
            <th>Species</th>
            <th>Substrates</th>
        </tr>
        <tr>
            <td>
                <ul>
                    {% for specie in species %}
                        <li><label class="sublabel"><input class="specie-checkbox" type="checkbox" value="{{ specie.name }}" checked="checked" />{{ specie.name }}</label></li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul>
                    {% for substrate in substrates %}
                        <li><label class="sublabel"><input class="substrate-checkbox" type="checkbox" value="{{ substrate.name }}" checked="checked" />{{ substrate.name }}</label></li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    </table>

    <label>Waterbody</label>
    <input type="text" name="waterbody" id="waterbody" />

    <label>Agency</label>
    <select name="agency" id="agency">
        <option value="">Any</option>
    {% for agency in agencies %}
        <option value="{{ agency.name }}">{{ agency.name }}</option>
    {% endfor %}
    </select>

    <input type="button" name="button" value="Apply" id="apply-button" />
</div>

<div id="overlay"></div>

<div id="loading">
    <h2><span id="progress"></span></h2>
</div>

{% endblock %}
